html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #222021;
  flex: 1; /* Each container takes an equal portion of the available space */
  flex-shrink: 1;
}

/*#container1 {
  background-color: #3498db;
  
}*/

#container2 {
  /*background-color: #2ecc71;*/
  justify-content: space-evenly;
  padding-top: 32px;
}

#container3 {
  /*background-color: #e74c3c;*/
  justify-content: space-evenly;
  color: white;
}

#image-container {
  background-color: #E6E6E6;
  margin-top: 12px;
  border-radius: 12px;
}

#game-image {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.choice-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  align-self: stretch;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/*#player-choice-container {
 background-color: pink;
}*/

/*#player-choice-text-container {
  background-color: red;
  display: flex;
}*/

/*#player-choice-image-container {
  background-color: purple;
  display: flex;
}*/

/*#computer-choice-text-container {
  background-color: yellow;
  display: flex;
}*/

/*#computer-choice-image-container {
  background-color: aqua;
  display: flex;
}*/

/*#computer-choice-container {
 background-color: darkgreen;
}*/

.images {
  max-width: 200px;
  max-height: 200px;
}

/*buttons*/

button {
  background-color: rgb(159, 32, 197);
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  font-size: 48px;
  font-weight: bolder;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  width: 256px;
  height: 100px;
}

#rock-button {
  background-color: #800000;
  color: white; 
  border: 2px solid white;
}
  
#rock-button:hover {
  background-color: white;
  color: #800000;
  border: 2px solid #800000;
}
  
#paper-button {
  background-color: #000080;
  color: white; 
  border: 2px solid white;
}
  
#paper-button:hover {
  background-color: white;
  color: #000080;
  border: 2px solid #000080;
}

#scissors-button {
  background-color: #008000;
  color: white; 
  border: 2px solid white;
}
  
#scissors-button:hover {
  background-color: white;
  color: #008000;
  border: 2px solid #008000;
}

#reset-container button {
  background-color: rgb(159, 32, 197);
  color: white; 
  border: 2px solid white;
  font-size: 36px;
}

#reset-container button:hover {
  background-color: white;
  color: rgb(159, 32, 197);
  border: 2px solid rgb(159, 32, 197);
}