html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #222021;
  flex: 1; /* Each container takes an equal portion of the available space */
  flex-shrink: 1;
}

#container1 {
  justify-content: center;
  
}

#container2 {
  /*background-color: #2ecc71;*/
  justify-content: center;
  padding-top: 12px;
}

#container3 {
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
}

#container4 {
  align-items: flex-start;
  padding: 0;
}

#reset-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#image-container {
  background-color: #E6E6E6;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 12px;
}

#game-image {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.choice-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  align-self: stretch;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.images {
  max-width: 200px;
  max-height: 200px;
}

button {
  background-color: rgb(159, 32, 197);
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  display: inline-block;
  font-size: 48px;
  font-weight: bolder;
  margin: 12px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  min-width: 300px;
  min-height: 100px;
}

#rock-button {
  background-color: #800000;
  color: white; 
  border: 2px solid white;
}
  
#rock-button:hover {
  background-color: white;
  color: #800000;
  border: 2px solid #800000;
}
  
#paper-button {
  background-color: #000080;
  color: white; 
  border: 2px solid white;
}
  
#paper-button:hover {
  background-color: white;
  color: #000080;
  border: 2px solid #000080;
}

#scissors-button {
  background-color: #008000;
  color: white; 
  border: 2px solid white;
}
  
#scissors-button:hover {
  background-color: white;
  color: #008000;
  border: 2px solid #008000;
}

#reset-container button {
  background-color: rgb(162, 24, 204);
  color: white; 
  border: 2px solid white;
  font-size: 36px;
}

#reset-container button:hover {
  background-color: white;
  color: rgb(162, 24, 204);
  border: 2px solid rgb(162, 24, 204);
}

#running-score-container {

  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding: 0px 150px;
  font-size: 24px;
  font-weight: bold;
  height: 100px;
}

#player-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding-top: 18px;
}

#player-score {
  margin: 0;
  padding: 0;
}

#computer-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-top: 18px;
}

#computer-score {
  margin: 0;
  padding: 0;
}

#endgame-container {
  font-size: 32px;
}

#results-container {
  display: flex;
  align-items: center;
}

p { margin: 0; }

#results-endgame-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

